<div class="container">
    <div class="jumbotron">
        <div class="card-columns">
            <div class="card" *ngFor="let student of students">
                <img src="{{student.photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{student.name}}</h5>
                    <p class="card-text">{{student.description}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>